global-exclude *.pyc
global-exclude .DS_Store

prune docs

recursive-include rascaline *
recursive-include rascaline-c-api *
recursive-include docs/rascaline-json-schema *

# include the minimal crates from the Cargo workspace
include python/Cargo.toml
include python/lib.rs
include rascaline-torch/Cargo.toml
include rascaline-torch/lib.rs

include Cargo.*
include pyproject.toml
include AUTHORS
include LICENSE

prune python/tests
prune python/*.egg-info

prune rascaline/tests
prune rascaline/benches/data
prune rascaline/examples

prune rascaline-c-api/tests
prune rascaline-c-api/examples

exclude tox.ini
