global-exclude *.pyc
global-exclude .DS_Store

prune docs

recursive-include featomic *
recursive-include featomic-c-api *
recursive-include docs/featomic-json-schema *

# include the minimal crates from the Cargo workspace
include python/Cargo.toml
include python/lib.rs
include featomic-torch/Cargo.toml
include featomic-torch/lib.rs

include Cargo.*
include pyproject.toml
include AUTHORS
include LICENSE

prune python/tests
prune python/*.egg-info

prune featomic/tests
prune featomic/benches/data
prune featomic/examples/data

prune featomic-c-api/tests
prune featomic-c-api/examples

exclude tox.ini
