# sphinx and dependencies
sphinx == 7.2.6
furo            # sphinx theme
breathe >=4.33  # C and C++ => sphinx through doxygen
sphinx-gallery  # convert python files into nice documentation
sphinx-tabs     # tabs for code examples (one tab per language)
pygments >=2.11 # syntax highligthing
toml            # to extract version number out of Cargo.toml
myst-parser     # markdown => rst translation, used in extensions/rascaline_json_schema

# dependencies for the tutorials
--extra-index-url https://download.pytorch.org/whl/cpu
metatensor[torch] >=0.1.0,<0.2.0
torch
chemfiles
matplotlib
skmatter
ase
