# Lint tests run on PR
# but should not run after push to main because reporting
# these after push is meaningless to the building of the package
name: Lint

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - run: pip install tox

    - name: Test Lint
      run: tox -e lint
